!!! 5
%html
	%head
		%link{:href => "/css/twitter.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "/css/style.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
	%body
		.container
			.hero-unit
				%h1 BucketBot 5000
				%hr
				- if !@errors.empty? || @failure
					.notice.failure
						- @errors.each do |k, v|
							= v
				- else
					Solution found: 
					.solution_list
						= @solution
					%ol.ordered_solution
				%br
				%br
				%a.btn.btn-inverse{:href => "/"} Try Again
			Created by 
			%a{:href => "http://www.travisberry.com"} Travis Berry
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
		%script{:src => "/js/common.js"}
		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-31275720-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();